/.bzr
/.bzrignore
/cache/*
/compiled/*
/databases/*
/errors/*
/indices/*
/models/000_config.py
/models/0000_update_check.py
/sessions/*
/uploads/*
/static/cache/*
/static/fonts/*.ttf
/static/scripts/tools/compiler.jar
/tests/unit/*.pdf
.DS_Store
/languages/*.po
.~lock.*.csv#
*.log
*.pyc
*.~*~
.directory
.pythonhistory
.idea

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
