{{extend "layout.html"}}
<div id='home'>
{{try:}}
<h2 align='center'>{{=title}}</h2>
{{except:}}{{pass}}
<div id='menu_box_center'>
{{try:}}
{{=sit_dec_res_box}}
{{except:}}{{pass}}
<!--{{=facility_box}}-->
{{if AUTHENTICATED not in session.s3.roles:}}
	<div id='login_box' class='menu_box'>
	    {{if not self_registration or registered:}}
	        <div id='login_form'>
	            {{=login_div}}
	            {{include "auth/_login.html"}}
	        </div>
	    {{pass}}
	    {{if self_registration:}}
	        <div id='register_form' {{if registered:}}class='hide'{{pass}}>
	            {{=register_div}}
	            {{include "auth/_register.html"}}
	        </div>
	    {{pass}}
	    {{if self_registration and not registered:}}
	      <div id='login_form' class='hide'>
	        {{=login_div}}
	        {{include "auth/_login.html"}}
	      </div>
	    {{pass}}
	</div>
{{pass}}
{{=manage_facility_box}}
</div>
<div id='login_form1'>
</div></div>&nbsp&nbsp&nbsp&nbsp<a href="http://localhost/dashboard/report.php?datasrc=rgims" target="blank"><img src="/{{=appname}}/static/img/dashboard.png" height="200" width="200" align="center"> </a>
<div id='about'>
 <p>
 <p><center><h3>Sponsoring Organizations</h3></center></br>
  <center><img src="/{{=appname}}/static/img/sponsor_logos.png"><div></br><h3></h3>
  RGIMS aims to provide a reliable and accurate inventory control of the UNWFP and DSWD logistics management systems of tracking, monitoring and reporting of relief goods intake, warehousing and outflow of donations.<br/>
  For more details on the RGIMS system please contact DSWD-NROC Office, Chapel Road, Pasay City at 852-8081 or 851-2681.</center>
 </p> 
</div>